<!DOCTYPE html>
<html>

<!-- Head -->
<head>
	<meta charset="UTF-8">
	<title>{% block title %}ChatBox{% endblock %}</title>

	{% load staticfiles %}
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Satisfy" >
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<!-- For-Mobile-Apps -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="Friends Chat History Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
		<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- //For-Mobile-Apps -->

	<!-- Style --> <link rel="stylesheet" href="{% static 'chat/css/style_2.css' %}" type="text/css" media="all">

	<!-- Web-Fonts -->
		<link href='//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	<!-- //Web-Fonts -->


    <script type="text/javascript" src="{% static 'chat/js/jquery-2.1.4.min_1.js' %}"></script>
	<!-- //js -->
	<!--skycons-icons-->

	<!--//skycons-icons-->
	<link href="{% static 'chat/css/style_3.css' %}" rel="stylesheet" type="text/css" media="all" />


	<style>
		body {
    			background: url("/static/chat/images/images/banner.jpg") no-repeat 0px 0px;
				background-size: cover;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				-ms-background-size: cover;
				min-height:745px;
				font-family: 'Josefin Sans', sans-serif;
		}

		#navbar {
		  overflow: hidden;
		  background-color: #333;
		}

		#navbar a {
		  float: left;
		  display: block;
		  color: #f2f2f2;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		  font-size: 17px;
		}

		#navbar a:hover {
		  background-color: #ddd;
		  color: black;
		}

		#navbar a.active {
		  background-color: #4CAF50;
		  color: white;
		}

		.sticky {
		  position: fixed;
		  top: 0;
		  width: 100%
		}

		input[type=text] {
			width: 130px;
			width: 100%;
			box-sizing: border-box;
			font-size: 16px;
			background-color: #585c63;
			background-repeat: no-repeat;
			padding: 12px 20px 24px 40px;
			-webkit-transition: width 0.4s ease-in-out;
			transition: width 0.4s ease-in-out;
		}

		input[type=text]:focus {
    		width: 100%;
		}

	</style>

</head>
<!-- //Head -->
{% csrf_token %}

<script type="text/javascript">
    function request_access(id){
    console.log('hello');
    var name = document.getElementById("name_"+id).value;
    var Uid = document.getElementById("Uid_"+id).value;
    console.log("data:"+ name);
    $.ajax({
    url:"/send/",
    type: "GET",
    data: {name:name},
    success:function(response){

    document.location.href= {% url 'send' %} + "?name="+name;

    },
    complete:function(){},
    error:function (xhr, textStatus, thrownError){
        alert("Internet Problem");
    }
});

}


        function send(id)
            {
                var name = document.getElementById("name_"+id).value;
                console.log("data: " + name);
               $.ajax({
                url:"/send/",
                type: "GET",
                data: {name:name},
                success:function(response){
                    console.log(response)
                },
                complete:function(){},
                error:function (xhr, textStatus, thrownError){
                    alert("error doing something");
                }
                });

            }

</script>

<script>
	function request(id){
		console.log('hello');
		var LogOut = document.getElementById('LogOut').name;
		console.log("data: " + LogOut);
		$.ajax({
		url:"/home/",
    	type: "GET",
		data: {LogOut:LogOut},
		success:function(response){
    	document.location.href= {% url 'home' %};
    	},
    	complete:function(){},
    	error:function (xhr, textStatus, thrownError){
        	alert("Internet Problem");
    	}
		});
	}

	function home(id)
    {
        console.log('hello');
		var LogOut = document.getElementById('LogOut').name;
		console.log("data: " + LogOut);
		$.ajax({
		url:"/home/",
    	type: "GET",
		data: {LogOut:LogOut},
		success:function(response){
    	console.log(response)
    	},
    	complete:function(){},
    	error:function (xhr, textStatus, thrownError){
        	alert("Internet Problem");
    	}
		});

    }

</script>

<script>
	function r(id){
		console.log('hello');
		console.log("data: " + LogOut);
		$.ajax({
		success:function(response){
    	document.location.href= {% url 'home' %};
    	},
    	complete:function(){},
    	error:function (xhr, textStatus, thrownError){
        	alert("Internet Problem");
    	}
		});
	}


</script>

<script type="text/javascript">
		function re(id){
			console.log('hello');
			$.ajax({
				success:function(response){

    				document.location.href= {% url 'profile' %};

    			},
    			complete:function(){},
    			error:function (xhr, textStatus, thrownError){
        			alert("Internet Problem");
    			}
			});

		}
	</script>

<script type="text/javascript">
		function ree(id){
			console.log('hello');
			var All_Contact = document.getElementById('All_Contact').name;
			console.log("data: "+All_Contact);
			$.ajax({
				url:"/send_data/",
				type: "GET",
				data: {All_Contact:All_Contact},
				success:function(response){

    				document.location.href= {% url 'send_data' %} + "?All_Contact="+All_Contact;

    			},
    			complete:function(){},
    			error:function (xhr, textStatus, thrownError){
        			alert("Internet Problem");
    			}
			});

		}
	</script>

<script type="text/javascript">
		function ree1(id){
			console.log('hello');
			var user = document.getElementById('user_'+id).name;
			var user1 = document.getElementById('user1_'+id).name;
			console.log("data: "+user);
			$.ajax({
				url:"/send/",
				type: "GET",
				data: {user:user},
				success:function(response){

    				document.location.href= {% url 'send' %} + "?user="+user;

    			},
    			complete:function(){},
    			error:function (xhr, textStatus, thrownError){
        			alert("Internet Problem");
    			}
			});

		}
	</script>

<!-- Body -->
<body>
	<div id="navbar">
		<a onclick='r({{l}})' id="Home" name="Home">Home</a>
		<a onclick="re({{l}})" id="Profile" name="Profile">Profile</a>
		<a onclick="ree({{l}})" id="All_Contact" name="All_Contact">Contact</a>
		<a onclick='request({{l}})' style="float:right" id="LogOut" name="LogOut">LogOut</a>
		</div>

	<div class="main-info">
        <div class="main-info-grid1">
				<h5>Contacts</h5>
				<div class="navigation-bottom-menu-bottom scrollbar" id="style-2">
					{% for e in ss %}
						<div class="nav-btm-menu-btm-grid">
						<div class="nav-btm-menu-btm-grid-left">
							<img src="{% static 'chat/images/images/1.png' %}" alt=" " class="img-responsive" />
						</div>
						<div class="nav-btm-menu-btm-grid-left1">
                            <h3><a onclick='ree1("{{forloop.counter}}")' id="user_{{forloop.counter}}" name="{{ e.name }}" style="color:white">{{ e.u1 }}</a></h3>
							<p><a onclick='ree1("{{forloop.counter}}")' id="user1_{{forloop.counter}}" name="{{ e.name }}">{{ e.name }}</a></p>
						</div>
						<div class="nav-btm-menu-btm-grid-right">
							<!--<h4></h4>-->
						</div>
						<div class="clear"> </div>
					</div>
					{% endfor %}
				</div>
			</div>
    </div>

	<!-- Custom-JavaScript-File-Links -->
		<!--&lt;!&ndash; Default-JavaScript &ndash;&gt; <script src="{% static 'chat/js/jquery.min.js' %}"></script>-->
		<!--&lt;!&ndash; Tabs-JavaScript &ndash;&gt;    <script src="{% static 'chat/js/tabs.js' %}"></script>-->
	<!-- //Custom-JavaScript-File-Links -->

</body>
<!-- //Body -->

</html>